<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select msInfiniteScroll
                (infiniteScroll)="getNextBatch()"
                [complete]="offset === data.length">
      <ngx-mat-select-search placeholderLabel="Search Segments"
                             noEntriesFoundLabel="No entries found">
      </ngx-mat-select-search>
      <mat-option *ngFor="let option of options$ | async" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
