.nav-bar_wrapper {
  border-bottom: 2px solid green;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: inherit;
}

button {
  display: block;
  height: 100%;
  background-color: inherit;
  padding: 15px 10px;
}

button:hover {
  border: 1px solid black;
  background-color: #4682B4;
  cursor: pointer;
}
